fragment
    v-toolbar.flex-grow-0(v-if="isAuthenticated", :extended="!!choosedUsersType", height="50")
        block controls

    v-main.content(v-if="isLoading").align-center.text-center
        v-progress-circular(indeterminate, color="primary", :size="100", :width="7")

    v-main.content(v-else)
        v-snackbar(v-model="snackbar.show" right bottom :color="snackbar.color" :timeout="2500")
            | {{ snackbar.text }}
            v-btn(icon @click="hideSnackbar")
                v-icon fa-times
        block content